#two{
    width: 200px;
    height: 200px;
       margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        Background-color: red;
        display: block;
    }